.container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  gap: 32px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 10px;
  height: 16px;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #1976d2;
  box-shadow: 0px 1px 6px 0px #1976d2;
  background-color: #fff;
  z-index: 99;
}

.body {
  display: flex;
  margin: 0 16px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.bodyContainer{
  padding: 16px;
  border: 1px solid #1976d2;
  border-radius: 6px;
  box-shadow: 0 0 6px 0px #1976d2;
  background-color: #fff;
}

.fotar {
  padding: 10px;
  border-top: 1px solid #1976d2;
  box-shadow: 0 -3px 6px 0 #1976d2;
  background-color: #fff;
}
